<ul id="slide-out" class="sidenav show-on-med-and-down">
    <li><h4 class="center">SwoopIt</h4></li>
    <li><a href="admin" class="black-text">Admin Home</a></li>
    <li><a href="item" class="black-text">Add Item</a></li>
    <li><a href="category" class="black-text">Add Category</a></li>
    <li><a href="items" class="black-text">Items</a></li>
    <li><a href="categories" class="black-text">Categories</a></li>
    <li><a class="black-text active-col">Blacklist Users</a></li>
    <li><a href="/" class="blue-text">Sign Out</a></li>
</ul>
<div class="row" style="margin-bottom: 20px; margin-top: 20px">
    <div class="col s2 hide-on-med-and-down" style="margin-left: 20px;">
        <ul>
            <li><h3>Menu</h3></li>
        </ul>
        <div class="collection">
            <a href="admin" class="collection-item blue-text">Admin Home</a>
            <a href="item" class="collection-item blue-text">Add Items</a>
            <a href="category" class="collection-item blue-text">Add Category</a>
            <a href="items" class="collection-item blue-text">Items</a>
            <a href="categories" class="collection-item blue-text">Categories</a>
            <a class="collection-item active-col blue-text">Blacklist Users</a>
            <a href="/" class="collection-item blue-text">Sign Out</a>
        </div>
    </div>

    <div class="container col s10 hide-on-med-and-down" style="margin-left: 10px">
        <div class="row center">
            <h3>Blacklist User</h3>
            <form onsubmit="return false">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email">User Email</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-large blue white-text"
                        onclick="blacklistUser($('#email').val())">
                    Blacklist
                </button>
            </form>
        </div>
    </div>
    <div class="container col s12 show-on-med-and-down hide-on-med-and-up" style="margin-left: 10px">
        <div class="row center">
            <div class="container">
                <h3>Blacklist User</h3>
                <form onsubmit="return false">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email1" type="email" class="validate">
                            <label for="email1">User Email</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-large blue white-text"
                            onclick="blacklistUser($('#email1').val())">
                        Blacklist
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var categories, items, stores;
    var storeNames = {
        mcd: 'McDonald\'s',
        fdl: 'Foodland',
        kta: 'KTA',
        lnl: 'L&L Barbecue',
        bgk: 'Burger King',
        longs: 'Longs Drugs',
        csc: 'Costco'
    };
    document.addEventListener('DOMContentLoaded', async function () {
        categories = await getCategories();
        items = await getItems();
        stores = await getStores();
        for (i = 0; i < stores.length; i++) {
            $('#store').append('<option value="' + stores[i].code + '">' + stores[i].name + '</option>');
        }
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });
</script>