<div class="row" style="margin-bottom: 20px; margin-top: 20px">
    <div class="col s2" style="margin-left: 20px;">
        <ul>
            <li><h3>Menu</h3></li>
        </ul>
        <div class="collection">
            <a href="#" class="collection-item blue-text">Admin Home</a>
            <a href="item" class="collection-item active-col blue-text">Add Items</a>
            <a href="category" class="collection-item blue-text">Add Category</a>
            <a href="items" class="collection-item blue-text">Items</a>
            <a href="categories" class="collection-item blue-text">Categories</a>
            <a href="blacklist" class="collection-item blue-text">Blacklist Users</a>
            <a href="/" class="collection-item blue-text">Sign Out</a>
        </div>
    </div>

    <div class="container col s8" style="margin-left: 10px">
        <div class="row center">
            <h3>Add Item</h3>
            <form onsubmit="return false">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="name" type="text" class="validate">
                        <label for="name">Category Name</label>
                    </div>
                    <div class="input-field col s6">
                        <select title="Stores" id="store">
                            <option value="" disabled selected>Select a Store</option>
                        </select>
                        <label>Store</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-large blue white-text"
                        onclick="addCategory($('#name').val(), $('#store').val())">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>

<script>
    var categories, items, stores;
    var storeNames = {
        mcd: 'McDonald\'s',
        fdl: 'Foodland',
        kta: 'KTA',
        lnl: 'L&L Barbecue',
        bgk: 'Burger King',
        longs: 'Longs Drugs',
        csc: 'Costco'
    };
    document.addEventListener('DOMContentLoaded', async function () {
        categories = await getCategories();
        items = await getItems();
        stores = await getStores();
        for (i = 0; i < stores.length; i++) {
            $('#store').append('<option value="' + stores[i].code + '">' + stores[i].name + '</option>');
        }
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });
</script>