<ul id="slide-out" class="sidenav show-on-med-and-down">
    <li><h4 class="center">SwoopIt</h4></li>
    <li><a href="admin" class="black-text">Admin Home</a></li>
    <li><a href="item" class="black-text">Add Item</a></li>
    <li><a href="category" class="black-text">Add Category</a></li>
    <li><a href="items" class="black-text">Items</a></li>
    <li><a class="black-text active-col">Categories</a></li>
    <li><a href="users" class="black-text">Users</a></li>
    <li><a href="blacklist" class="black-text">Blacklist Users</a></li>
    <li><a href="/" class="blue-text">Sign Out</a></li>
</ul>
<div class="center" style="margin: 20px 20px;">
    <div class="row col s12" style="margin-top: -7px">
        <div class="center">
            <table id="myTable" class="display">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Store</th>
                    <th>ID</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody id="body2">

                </tbody>
            </table>
            <br>
            <br>
            <div class="preloader-wrapper big active" style="margin-top: 10px;">
                <div class="spinner-layer spinner-blue bg">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', async function () {
        try {
            categories = await getCategories();
            items = await getItems();
            for (var i = 0; i < categories.length; i++) {
                var toAppend = '<tr>' +
                        '<td>' + categories[i].name + '</td>' +
                        '<td>' + getStore(categories[i].store) + '</td>' +
                        '<td>' + categories[i].id + '</td>' +
                        '<td><a class=\'btn red\' onclick="alert(\'This will open a modal and propt you to delte it\');">Remove</a></td>' +
                        '</tr>';

                $('#body2').append(toAppend);
            }
            $('.preloader-wrapper').remove();
        } catch (e) {
            console.log(e);
        }
    });
</script>