<main>
    <div class="parallax-container hide-on-med-and-down">
        <div class="parallax"><img alt="SwoopIt Splash" src="img/topPhone.png"></div>
    </div>
    <div class="section white">
        <div class="row container center">
            <h3 class="header">SwoopIt</h3>
            <p class="grey-text text-darken-3 lighten-3">Designed for hungry students stuck on campus, SwoopIt is a tailor-made app that allows you to order food from your local restaurants and grocery stores and have it delivered by a peer.</p>
            <p class="grey-text text-darken-3 lighten-3">Made for students by students.</p>
        </div>
        <div class="row container center">
            <img src="img/google-play-badge.svg" alt="Google Play" onclick="window.location.href = 'https://play.google.com/store/apps/details?id=com.swoopit.android'" style="width: 179.535px; height: 60px; cursor: pointer">
            <img src="img/app-store-badge.svg" onclick="window.location.href = 'https://itunes.apple.com/us/app/swoopit/id1382417440?mt=8'" alt="App Store" style="width: 179.535px; height: 60px; padding: 2px; cursor: pointer">
        </div>
    </div>
    <div class="parallax-container hide-on-med-and-down">
        <div class="parallax"><img alt="SwoopIt Shops" src="img/shopsPhone.png"></div>
    </div>
    <div class="section white">
        <div class="row container center">
            <h2 class="header hide-on-med-and-down">Order anything from our selection of restaurants.</h2>
            <h2 class="header hide-on-med-and-up">Order from Restaurants</h2>
            <div class="row">
                <div class="col s12 m3">
                    <div class="card grey lighten-3 hoverable" style="display: inline-block">
                        <div class="card-content">
                            <span class="card-title">McDonald's</span>
                            <p>Burgers, Fries, Chicken Nuggets.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m3">
                    <div class="card grey lighten-3 hoverable" style="display: inline-block">
                        <div class="card-content">
                            <span class="card-title">Burger King</span>
                            <p>Burgers, Chicken Nuggets, Fries.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m3" style="display: inline-block">
                    <div class="card grey lighten-3 hoverable">
                        <div class="card-content">
                            <span class="card-title">L&L Barbecue</span>
                            <p>Musubi, Loco Moco, Barbecue.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m3" style="display: inline-block">
                    <div class="card grey lighten-3 hoverable">
                        <div class="card-content">
                            <span class="card-title">Foodland and KTA</span>
                            <p>Order anything from the store.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-container hide-on-med-and-down">
        <div class="parallax"><img alt="SwoopIt Shop" src="img/shopPhone.png"></div>
    </div>
    <div class="section white">
        <div class="row container center">
            <h2 class="header hide-on-med-and-down">Custom order from your local grocery store</h2>
            <h2 class="header hide-on-med-and-up">Custom Groceries</h2>
            <div class="row">
                <div class="col s12 m3">
                    <div class="card grey lighten-3" style="display: inline-block">
                        <div class="card-content">
                            <span class="card-title">Orange Chicken</span>
                        </div>
                    </div>
                </div>
                <div class="col s12 m3">
                    <div class="card grey lighten-3 hoverable" style="display: inline-block">
                        <div class="card-content">
                            <span class="card-title">Leafy Greens</span>
                        </div>
                    </div>
                </div>
                <div class="col s12 m3">
                    <div class="card grey lighten-3 hoverable" style="display: inline-block">
                        <div class="card-content">
                            <span class="card-title">Mint Oreo Cookies</span>
                        </div>
                    </div>
                </div>
                <div class="col s12 m3">
                    <div class="card grey lighten-3 hoverable" style="display: inline-block">
                        <div class="card-content">
                            <span class="card-title">Arizona Green Tea</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-container hide-on-med-and-down">
        <div class="parallax"><img src="img/checkoutPhone.png" alt="SwoopIt Checkout"></div>
    </div>
    <div class="section white">
        <div class="row container center">
            <h2>Get SwoopIt</h2>
            <img src="img/google-play-badge.svg" alt="Google Play" onclick="window.location.href = 'https://play.google.com/store/apps/details?id=com.swoopit.android'" style="width: 179.535px; height: 60px; cursor: pointer">
            <img src="img/app-store-badge.svg" onclick="window.location.href = 'https://itunes.apple.com/us/app/swoopit/id1382417440?mt=8'" alt="App Store" style="width: 179.535px; height: 60px; padding: 2px; cursor: pointer">
        </div>
    </div>
</main>