<ul id="slide-out" class="sidenav show-on-med-and-down">
    <li><h4 class="center">SwoopIt</h4></li>
    <li><a href="admin" class="black-text">Admin Home</a></li>
    <li><a href="item" class="black-text">Add Item</a></li>
    <li><a href="category" class="black-text">Add Category</a></li>
    <li><a class="black-text active-col">Items</a></li>
    <li><a href="categories" class="black-text">Categories</a></li>
    <li><a href="blacklist" class="black-text">Blacklist Users</a></li>
    <li><a href="/" class="blue-text">Sign Out</a></li>
</ul>
<div class="row" style="margin-bottom: 20px; margin-top: 20px">
    <div class="col s2 hide-on-med-and-down" style="margin-left: 20px;">
        <ul>
            <li><h3>Menu</h3></li>
        </ul>
        <div class="collection">
            <a href="admin" class="collection-item blue-text">Admin Home</a>
            <a href="item" class="collection-item blue-text">Add Item</a>
            <a href="category" class="collection-item blue-text">Add Category</a>
            <a class="collection-item blue-text active-col">Items</a>
            <a href="categories" class="collection-item blue-text">Categories</a>
            <a href="blacklist" class="collection-item blue-text">Blacklist Users</a>
            <a href="/" class="collection-item blue-text">Sign Out</a>
        </div>
    </div>
    <div class="container col s10 hide-on-med-and-down" style="margin-left: 10px">
        <div class="row center">
            <table id="myTable" class="display">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Store</th>
                    <th>ID</th>
                </tr>
                </thead>
                <tbody id="body2-1">
                <tr id="mcd"></tr>
                <tr id="lnl"></tr>
                <tr id="dom"></tr>
                <tr id="fdl"></tr>
                <tr id="bgk"></tr>
                <tr id="longs"></tr>
                <tr id="csc"></tr>

                </tbody>
            </table>
            <br>
            <br>
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue" style="background-color: #f9f9f9;">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container col s12 show-on-med-and-down hide-on-med-and-up" style="margin-left: 10px">
        <div class="row center">
            <table id="myTable1" class="display">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Store</th>
                    <th>ID</th>
                </tr>
                </thead>
                <tbody id="body2-1">
                <tr id="mcd"></tr>
                <tr id="lnl"></tr>
                <tr id="dom"></tr>
                <tr id="fdl"></tr>
                <tr id="bgk"></tr>
                <tr id="longs"></tr>
                <tr id="csc"></tr>

                </tbody>
            </table>
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue white">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', async function () {
        try {
            categories = await getCategories();
            items = await getItems();
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
            for (var i = 0; i < items.length; i++) {
                var row = $('#body2').append('<tr></tr>')
                row.append('<td>' + items[i].name + '</td>');
                row.append('<td>' + storeNames[getCategory(items[i].category).store] + '</td>');
                row.append('<td>' + items[i].id + '</td>');
            }
            for (var i = 0; i < items.length; i++) {
                row = $('#body2-1').append('<tr></tr>');
                row.append('<td>' + items[i].name + '</td>');
                row.append('<td>' + storeNames[getCategory(items[i].category).store] + '</td>');
                row.append('<td>' + items[i].id + '</td>');
            }
            $('#preloader-wrapper').remove();
        } catch (e) {
            console.log(e);
        }
    });
</script>