<div class="row" style="margin-bottom: 20px; margin-top: 20px">
    <div class="col s2" style="margin-left: 20px;">
        <ul>
            <li><h3>Menu</h3></li>
        </ul>
        <div class="collection">
            <a href="#" class="collection-item blue-text">Admin Home</a>
            <a href="item" class="collection-item active-col blue-text">Add Item</a>
            <a href="category" class="collection-item blue-text">Add Category</a>
            <a href="items" class="collection-item blue-text">Items</a>
            <a href="categories" class="collection-item blue-text">Categories</a>
            <a href="blacklist" class="collection-item blue-text">Blacklist Users</a>
            <a href="/" class="collection-item blue-text">Sign Out</a>
        </div>
    </div>

    <div class="container col s8" style="margin-left: 10px">
        <div class="row center">
            <h3>Add Item</h3>
            <form onsubmit="return false">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="name" type="text" class="validate">
                        <label for="name">Item Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="price" type="text" class="validate">
                        <label for="price">Item Price</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <select title="Categories" id="category">
                            <option value="" disabled selected>Select a Category and Store</option>
                        </select>
                        <label>Category and Store</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="image" type="url" class="validate">
                        <label for="image">Item Image</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-large blue white-text"
                        onclick="addItem($('#name').val(), $('#price').val(), $('#category').val(), $('#image').val())">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', async function () {
        categories = await getCategories();
        items = await getItems();
        for (var i = 0; i < categories.length; i++) {
            $('#category').append('<optgroup id="category-' + categories[i].store + '" label="' + storeNames[categories[i].store] + '"></optgroup>');
        }
        for (i = 0; i < categories.length; i++) {
            $('#category-' + categories[i].store).append('<option value="' + categories[i].id + '">' + categories[i].name + '</option>');
        }
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });
</script>