<ul id="slide-out" class="sidenav show-on-med-and-down">
    <li><h4 class="center">SwoopIt</h4></li>
    <li><a href="admin" class="black-text">Admin Home</a></li>
    <li><a href="item" class="black-text">Add Item</a></li>
    <li><a href="category" class="black-text">Add Category</a></li>
    <li><a class="black-text active-col">Items</a></li>
    <li><a href="categories" class="black-text">Categories</a></li>
    <li><a href="users" class="black-text">Users</a></li>
    <li><a href="blacklist" class="black-text">Blacklist Users</a></li>
    <li><a href="/" class="blue-text">Sign Out</a></li>
</ul>
<div class="center" style="margin: 20px 20px;">
    <div class="row col s12" style="margin-top: -7px">
        <div class="center">
            <table id="myTable" class="display">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Store</th>
                    <th>ID</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody id="table-body">

                </tbody>
            </table>
            <br>
            <br>
            <div class="preloader-wrapper big active" style="margin-top: 10px;">
                <div class="spinner-layer spinner-blue bg">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', async function () {
        try {
            categories = await getCategories();
            items = await getItems();
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
            for (var i = 0; i < items.length; i++) {
                var toAppend = '<tr>' +
                        '<td>' + items[i].name + '</td>' +
                        '<td>' + storeNames[getCategory(items[i].category).store] + '</td>' +
                        '<td>' +  items[i].id + '</td>' +
                        '<td><a class=\'dropdown-trigger btn blue\' onclick="history.pushState(null, null, updateQueryStringParameter(window.location.pathname, \'item-id\', \'' + i + '\'));" data-target=\'item-dropdown\'>Item Info</a></td>' +
                        '</tr>';

                $('#table-body').append(toAppend);
                var drops = document.querySelectorAll('.dropdown-trigger');
                var dropdown1 = M.Dropdown.init(drops);
            }
            $('.preloader-wrapper').remove();
        } catch (e) {
            console.log(e);
        }
    });
</script>

<ul id='item-dropdown' class='dropdown-content'>
    <li><a class="blue-text" onclick="editItem(getParameterByName('item-id'))"><i class="material-icons">edit</i>Edit</a></li>
    <li><a class="red-text" onclick="alert('This will open a modal and super-confirm with you')"><i class="material-icons">delete_forever</i>Delete</a></li>

</ul>

<div id="edit-modal" class="modal">
    <div class="modal-content">
      <h4 id="edit-modal-header"></h4>
      <hr>
      <div class="row">
        <div class="input-field col s6">
          <input id="edit-modal-name" type="text" class="validate">
          <label for="edit-modal-name">Name</label>
        </div>
        <div class="input-field col s6">
          <input id="edit-modal-price" type="number" class="validate">
          <label for="edit-modal-price">Price</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="edit-modal-img" type="url" class="validate">
          <label for="edit-modal-img">Image</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="waves-effect waves-green btn-flat">Submit</a>
      <a href="#!" class="modal-close waves-effect waves-red btn-flat">Cancel</a>
    </div>
  </div>
