<ul id="slide-out" class="sidenav show-on-med-and-down">
    <li><h4 class="center">SwoopIt</h4></li>
    <li><a href="admin" class="black-text">Admin Home</a></li>
    <li><a href="item" class="black-text active-col">Add Item</a></li>
    <li><a href="category" class="black-text">Add Category</a></li>
    <li><a href="items" class="black-text">Items</a></li>
    <li><a href="categories" class="black-text">Categories</a></li>
    <li><a href="users" class="black-text">Users</a></li>
    <li><a href="blacklist" class="black-text">Blacklist Users</a></li>
    <li><a href="/" class="blue-text">Sign Out</a></li>
</ul>
<div class="center" style="margin: 20px 20px;">
    <div class="row col s12" style="margin-top: -7px">
        <div class="center">
            <h3>Add Item</h3>
            <form onsubmit="return false">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="name" type="text" class="validate">
                        <label for="name">Item Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="price" type="text" class="validate">
                        <label for="price">Item Price</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <select title="Categories" id="category">
                            <option value="" disabled selected>Select</option>
                        </select>
                        <label>Select Store</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="image" type="url" placeholder="https://example.com/image.png" class="validate">
                        <label for="image">Item Image</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-large blue white-text"
                        onclick="addItem($('#name').val(), $('#price').val(), $('#category').val(), $('#image').val())">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', async function () {
        categories = await getCategories();
        items = await getItems();
        //TODO figure out why this adds  random stuff to the bottom of the opttions
        for (var i = 0; i < categories.length; i++) {
            $('#category').append('<optgroup id="category-' + categories[i].store + '" label="' + storeNames[categories[i].store] + '"></optgroup>');

        }
        for (i = 0; i < categories.length; i++) {
            $('#category-' + categories[i].store).append('<option value="' + categories[i].id + '">' + categories[i].name + '</option>');

        }
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });
</script>