<div class="">
    <div class="container col s8">
        <div class="row center">
            <h3>Add Item</h3>
            <form action="https://api.swoopit.xyz/api/new" method="get">
                <div class="row">
                    <div class="input-field col s6">
                        <input   id="name" type="text" class="validate">
                        <label for="name">Item Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="price" type="text" class="validate">
                        <label for="price">Item Price</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="store" type="text" class="validate">
                        <label for="store">Store Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="category" type="text" class="validate">
                        <label for="category">Category</label>
                    </div>
                </div>
                <div class="file-field input-field">
                    <div class="btn blue">
                        <span>Image</span>
                        <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
                <button type="submit" class="btn btn-large blue white-text">Submit</button>
            </form>
        </div>
    </div>
</div>