<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- COMMON TAGS -->
    <title>SwoopIt</title>
    <!-- Search Engine -->
    <meta name="description" content="Food delivery for schools.">
    <meta name="image" content="https://swoopit.xyz/favicon.png">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="SwoopIt">
    <meta itemprop="description" content="Food delivery for schools.">
    <meta itemprop="image" content="https://swoopit.xyz/favicon.png">
    <!-- Mobile App for Android -->
    <meta name="google-play-app" content="app-id=com.swoopit.android">
    <!-- OpenGraph Tags -->
    <meta name="og:title" content="SwoopIt"/>
    <meta name="og:type" content="app"/>
    <meta name="og:url" content="https://swoopit.xyz"/>
    <meta name="og:image" content="https://swoopit.xyz/favicon.png"/>
    <meta name="og:site_name" content="SwoopIt"/>
    <meta name="og:description" content="Food delivery for schools"/>
    <meta name="theme-color" content="#1caeee"/>
    <!-- Google -->
    <link rel="icon" href="favicon.png">
    <!-- Apple -->
    <link rel="apple-touch-icon" href="favicon.png">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- TODO: publish to the app store
    <meta name="apple-itunes-app" content="app-id=myAppStoreID, affiliate-data=myAffiliateData, app-argument=myURL">
    -->
    <!-- Stylesheets -->
    <link rel="shortcut icon" href="favicon.png">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <style>

    </style>
</head>
<body id="style-6">
<div class="navbar-fixed z-depth-0">
    <nav class="blue z-depth-0">
        <div class="nav-wrapper">
            <a class="center brand-logo">SwoopIt</a>
        </div>
    </nav>
</div>

{{{body}}}
<footer class="page-footer blue darken-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">SwoopIt</h5>
                <p class="grey-text text-lighten-4">Website by Morgan Dean</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Email</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 SwoopIt
        </div>
    </div>
</footer>
<!-- Javascript -->
<script async defer type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script async defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<script>
    $(document).ready(function () {
        $('.parallax').parallax();
    });
</script>
</body>
</html>