<ul id="slide-out" class="sidenav show-on-med-and-down">
    <li><h4 class="center">SwoopIt</h4></li>
    <li><a href="admin" class="black-text">Admin Home</a></li>
    <li><a href="item" class="black-text">Add Item</a></li>
    <li><a href="category" class="black-text">Add Category</a></li>
    <li><a href="items"  class="black-text">Items</a></li>
    <li><a href="categories" class="black-text">Categories</a></li>
    <li><a href="users" class="black-text active-col">Users</a></li>
    <li><a href="blacklist" class="black-text">Blacklist Users</a></li>
    <li><a href="/" class="blue-text">Sign Out</a></li>
</ul>
<div class="center" style="margin: 20px 20px;">
    <div class="row col s12" style="margin-top: -7px">
        <div class="center">
            <table id="myTable1" class="display">
                    <thead>
                    <tr>
                        <th>Email</th>
                        <th>Android Devices</th>
                        <th>iOS Devices</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody id="body2-1">

                    </tbody>
                </table>
                <div class="preloader-wrapper big active" style="margin-top: 10px;">
                    <div class="spinner-layer spinner-blue bg">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', async function () {
        try {
            categories = await getCategories();
            items = await getItems();
            users = await getUsers();
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
            for (var i = 0; i < users.length; i++) {
                var toAppend = '<tr>';
                toAppend += '<td>' + users[i].email + '</td>';
                if (users[i].devices.android[0] == null) {
                    toAppend += '<td>' + 0 + '</td>'
                } else {
                    toAppend += '<td>' + users[i].devices.android.length + '</td>'
                }
                if (users[i].devices.ios[0] === "") {
                    toAppend += '<td>' + 0 + '</td>'
                } else {
                    toAppend += '<td>' + users[i].devices.ios.length + '</td>'
                }
                toAppend += '<td><a class=\'dropdown-trigger btn blue\' onclick="history.pushState(null, null, updateQueryStringParameter(window.location.pathname, \'email\', \'' + users[i].email + '\'));" data-target=\'user-dropdown\'>User Information</a></td></tr>';

                $('#body2-1').append(toAppend);
                var drops = document.querySelectorAll('.dropdown-trigger');
                var dropdown1 = M.Dropdown.init(drops);
            }
           // $('#myTable').DataTable();
            //$('#myTable1').DataTable();
            //$('input[type=search]').addClass('browser-default');
            $('.preloader-wrapper').remove();
        } catch (e) {
            console.log(e);
        }
    });
</script>

<ul id='user-dropdown' class='dropdown-content'>
    <li><a class="black-text" onclick="window.location.href = encodeURI('/blacklist?email=' + getParameterByName('email'))"><i class="material-icons">block</i>Blacklist</a></li>
    <li><a class="red-text" onclick="alert('This will open a modal and super-confirm with you')"><i class="material-icons">delete_forever</i>Delete User</a></li>
    <li><a class="blue-text" onclick="whitelist(getParameterByName('email'))"><i class="material-icons">control_point</i>Whitelist</a></li>
</ul>